@page
@model Filmbibliote.Pages.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Film[0].Titel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Film[0].Genre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Film[0].År)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Film[0].Betyg)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Film[0].UserID)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Film) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Titel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.År)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Betyg)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserID)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.FilmID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.FilmID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.FilmID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
